<!-- content wrapper. contains page content -->
<div class="content-wrapper">
  <!-- content header (page header) -->

  <!-- Main content -->
  <section class="content">
    <div class="card text-center bg-primary text-light mb-2">
      <h5>212102442 - Siau Tong</h5>
    </div>
    <div class="container-fluid">
      <!-- main row -->
      <div class="row">
        <div class="table-responsive">
          <table
            id="table1"
            class="table table-hover table-bordered table-striped"
          >
            <thead>
              <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Tempat, Tanggal Lahir</th>
                <th>JP</th>
                <th>Alamat</th>
                <th>Status</th>
                <th>Tahun Masuk</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <!-- /.main row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- ./wrapper -->
